<header class="header">
	<div class="container">
		<div class="logo" role="banner">
			<a class="logo__link" href="{{ "" | relLangURL }}" title="{{ .Site.Title }}" rel="home">
				<img src="/iww-lane/img/iww-lane2.png" alt="{{ .Site.Title }}" />
				
				{{ with .Site.Params.subtitle }}<div class="logo__tagline">{{ . }}</div>{{ end }}
			</a>
		</div>
	</div>
	{{ partial "menu.html" . }}
</header>
